.bg {
  width: 720px;
  height: auto;
  margin: 0 auto;
  background-color: rgb(3, 19, 19);
  font-size: 30pt;
}

.first {
  color: rgb(4, 192, 206);
  width: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-left: 30px;
  padding-right: 30px;
  padding-bottom: 30px;
  border: 5px solid rgb(0, 26, 255);
}

div {
  color: yellow;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  /* display: none; <- Crashes Chrome on hover */
  -webkit-appearance: none;
  margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
}
